[submodule "public/candy"]
	path = public/candy
	url = git://github.com/candy-chat/candy.git
[submodule "node_modules/node-static"]
	path = node_modules/node-static
	url = git://github.com/cloudhead/node-static.git
