var config = {
	// Candy settings
	// See http://amiadogroup.github.com/candy/#configuration
	candy: {
		core: { debug: false, autojoin: ['test@conference.localhost.local'] },
		view: { resources: 'candy/res/' }
	},
	// HTTP-Bind settings
	http_bind: {
		host: 'localhost',
		port: 5280,
		path: '/http-bind/'
	},
	// App setting
	app: {
		port: 8080
	}
};

module.exports = config;
